package views

templ Skills() {
	<div id="skills" class="text-5xl divider text-primary divider-primary divider-vertical divider-start">SKILLS</div>
	<div class="flex flex-col space-y-2">
		<div class="flex space-x-2">
			@SkillList(SkillListData{
				Title: "Backend",
				SkillUrls: []string{
					"https://img.shields.io/badge/PostgreSQL-336791?style=for-the-badge&logo=postgresql&logoColor=white",
					"https://img.shields.io/badge/Go-00ADD8?style=for-the-badge&logo=go&logoColor=white",
					"https://img.shields.io/badge/Redis-DC382D?style=for-the-badge&logo=redis&logoColor=white",
					"https://img.shields.io/badge/Express.js-000000?style=for-the-badge&logo=express&logoColor=white",
				},
			})
			@SkillList(SkillListData{
				Title: "Frontend",
				SkillUrls: []string{
					"https://img.shields.io/badge/React-20232A?style=for-the-badge&logo=react&logoColor=61DAFB",
					"https://img.shields.io/badge/HTML5-E34F26?style=for-the-badge&logo=html5&logoColor=white",
					"https://img.shields.io/badge/TypeScript-3178C6?style=for-the-badge&logo=typescript&logoColor=white",
					"https://img.shields.io/badge/CSS3-1572B6?style=for-the-badge&logo=css3&logoColor=white",
				},
			})
		</div>
		<div class="flex  space-x-2">
			@SkillList(SkillListData{
				Title: "Dev Ops",
				SkillUrls: []string{
					"https://img.shields.io/badge/Docker-2496ED?style=for-the-badge&logo=docker&logoColor=white",
					"https://img.shields.io/badge/AWS-232F3E?style=for-the-badge&logo=amazon-aws&logoColor=white",
					"https://img.shields.io/badge/Caddy-00C7B7?style=for-the-badge&logo=none",
				},
			})
			@SkillList(SkillListData{
				Title: "Tooling",
				SkillUrls: []string{
					"https://img.shields.io/badge/GitHub-181717?style=for-the-badge&logo=github&logoColor=white",
					"https://img.shields.io/badge/Zsh-333333?style=for-the-badge&logo=gnu-bash&logoColor=white",
					"https://img.shields.io/badge/Neovim-57A143?style=for-the-badge&logo=neovim&logoColor=white",
					"https://img.shields.io/badge/Linux-FCC624?style=for-the-badge&logo=linux&logoColor=black",
				},
			})
		</div>
	</div>
}
